<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-image: url(https://www.sportzcraazy.com/wp-content/uploads/2019/08/Harry-Maguire-Bio.jpg); background-repeat:no-repeat; background-size: 100%; height:100vh; background-size: cover">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: yellowgreen; font-Weight:bold"><i class="bi bi-cloud-sun-fill" style="font-size: 30px;"></i> FAN MU Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color:brown"><i class="bi bi-house-heart-fill" style="font-size: 30px; margin-left: 20px" ></i> HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/create" style="color:blue"><i class="bi bi-plus-square-fill" style="font-size: 30px; margin-left: 20px"></i> NEW PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/viewAll" style="color:chocolate"><i class="bi bi-archive-fill" style="font-size: 30px; margin-left: 20px"></i> ALL PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#" style="color:gold"><i class="bi bi-patch-question-fill" style="font-size: 30px; margin-left:20px"></i> ABOUT SHOP</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


</body>
</html>